@font-face {
    font-family: "TT Commons";
    src: url("../fonts/TT Commons Bold.otf") format("opentype");
    font-weight: 700;
}


@font-face {
    font-family: "TT Commons";
    src: url("../fonts/TT Commons DemiBold.otf") format("opentype");
    font-weight: 600;
}


@font-face {
    font-family: "TT Commons";
    src: url("../fonts/TT Commons Medium.otf") format("opentype");
    font-weight: 500;
}


@font-face {
    font-family: "TT Commons";
    src: url("../fonts/TT Commons Regular.otf") format("opentype");
    font-weight: normal;
}

$font-family-base: 'TT Commons';

//borders
.custom-border-bottom:after {
    content: "";
    display: block;
    width: 40%;
    border-bottom: 2px solid cornflowerblue;
    margin-left: auto;
    box-shadow: 2px 2px lightblue;
}

.border-radius-20px {
    border-radius: 20px !important;
}

.border-radius-15px {
    border-radius: 15px;
}

.border-radius-5px {
    border-radius: 5px;
}

.border-radius-50px {
    border-radius: 50px;
}

// object-fits
.object-fit-contain {
    object-fit: contain !important;
}

.object-fit-cover {
    object-fit: cover !important;
}

//text-alignments
.text-justify {
    text-align: justify;
}

//text-color
.text-gray {
    color: rgba(0, 0, 0, 0.4);
}

.text-dark {
    color: rgba(0, 0, 0, 0.7);
}

// anchor
a {
    text-decoration: none !important;
    color: black;
}

//vertical text
.text-vertical{
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.text-truncate-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
